<footer class="footer">
			<div class="container main_footer_container">
				<a class="logo" href="/">
					<img src="/webroot/frontend/images/web_logo.png">
				</a>
				<div class="right-container">
					<ul class="social-listing">
						<li>
							<a href="https://t.me/evaoi" target="_blank">
								<i class="fab fa-telegram-plane"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<i class="fab fa-medium-m"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="">
								<i class="fab fa-github-alt"></i>
							</a>
						</li>
						<li>
							<a target="_blank" href="">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="bottom-container mt-3">
				<div class="container">
					<span class="footer-contacts">© 2018 - 2019  Evoai.network All rights reserved.</span>
				</div>
			</div>
		</footer>		