<div class="spinner-wrapper">
	<div class="spinner">
		<img src="/webroot/frontend/images/preloader-black.gif" alt="">
	</div>
</div>
<div id='toTop'>
	<i class="fa fa-angle-up"></i>
</div>		
<!-- Main content -->
<section class="header dash-header" id="top">
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-3 col-sm-4">
				<div class="header__logo pull-left">
				<a href="/">
					<img src="/webroot/frontend/images/logo_web.png" alt="" class="logo_pc">
					<img src="/webroot/frontend/images/logo.png" alt="" class="logo_mob">
				</a>
				</div>
				<a href="#" data-toggle="offcanvas" class="toggle-btn"><i class="fa fa-navicon fa-3x"></i></a>
			</div>
			<div class="col-md-9 col-sm-6">
				<ul class="header-property">
					<li><img src="webroot/frontend/images/eth-iconM.png" height="45"></li>
					<li><span class="font-purple">1 ETH</span> = <span class="liveUSD_price"></span> USD</li>
					<li><span class="font-purple">ETH BAL</span>: <span class="liveETH_balance"></span></li>
					<li><span class="font-purple">1 EVOT</span> = 0.40 USD</li>
					<li><span class="font-purple">EVOT Bal</span>: 5</li>
					<li class="dropdown user user-menu pull-right">
                		<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  			<img src="webroot/frontend/images/user-image.png" class="user-image" alt="User Image"><br>
                  			<span class="hidden-xs"><%= Username %></span>
                		</a>
                		<ul class="dropdown-menu">
							<!-- User image -->
                  			<li class="text-center">
                    			<img src="webroot/frontend/images/user-image.png" class="img-circle" alt="User Image">
                  			</li>
		                  	<li><a href="http://localhost/evoai/profile">Profile</a></li>
		                  	<li><a href="/helpSupport">helpSupport</a></li>
		                  	<li><a href="/logout">Sign out</a></li>
		                </ul>
              		</li>
				</ul>
			</div>			
		</div>		            
		<!--<a onclick="" href="#" target="_blank" class="btn btn-danger header__contribute">CONTRIBUTE</a>-->            
	</div>
</section> 