	<ul class="nav" id="menu">
		<li id="dashboard">
			<a href="/">
				<i><img src="/webroot/frontend/images/icon-home.png"></i> 
				<span class="collapse in hidden-xs">Dashboard</span>
			</a>
		</li>
		<li id="wallet">
			<a href="/wallet">
				<i><img src="/webroot/frontend/images/icon-wallet.png"></i> 
				<span class="collapse in hidden-xs">Wallet</span>
			</a>
		</li>
		<li id="live_trades">
			<a href="/live_trades">
				<i><img src="/webroot/frontend/images/icon-livetrade.png"></i> 
				<span class="collapse in hidden-xs">Live trades</span>
			</a>
		</li>
		<li id="evabot">
			<a href="/evabot">
				<i><img src="/webroot/frontend/images/icon-chart.png"></i>
				<span class="collapse in hidden-xs">Evabot</span>
			</a>
		</li>
		<li id="evobot">
			<a href="/evobot">
				<i><img src="/webroot/frontend/images/icon-chart.png"></i> 
				<span class="collapse in hidden-xs">Evobot</span>
			</a></li>
		<li id="eve">
			<a href="/eve">
				<i><img src="/webroot/frontend/images/icon-chart.png"></i>
				<span class="collapse in hidden-xs">Eve</span>
			</a>
		</li>
		<li id="exchange">
			<a href="/exchange">
				<i><img src="/webroot/frontend/images/icon-exchange.png"></i> 
				<span class="collapse in hidden-xs">Exchange</span>
			</a>
		</li>
		<li>
			<a href="http://localhost/evoai/profile">
				<i><img src="/webroot/frontend/images/icon-profile.png"></i> 
				<span class="collapse in hidden-xs">Profile</span>
			</a>
		</li>
		<li id="support">
			<a href="/support">
				<i><img src="/webroot/frontend/images/icon-support.png"></i> 
				<span class="collapse in hidden-xs">Support</span>
			</a>
		</li>
		<li id="announcements">
			<a href="/announcements">
				<i><img src="/webroot/frontend/images/icon-announce.png"></i> 
				<span class="collapse in hidden-xs">Announcements</span>
			</a>
		</li>                
		<li id="myreferrals">
			<a href="/myreferrals">
				<i><img src="/webroot/frontend/images/icon-referral.png"></i> 
				<span class="collapse in hidden-xs">My referrals</span>
			</a>
		</li>             
		<li id="logout" class="hidden">
			<a href="/logout">
				<i><img src="/webroot/frontend/images/login_new.png"></i> 
				<span class="collapse in hidden-xs">Logout</span>
			</a>
		</li>
	</ul>