<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
		<% include partials/header %>         
      </header>
      <!-- Left side column. contains the logo and sidebar -->
	  <% include partials/sidebar %>       
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Users
				<small>Control panel</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="/admin"><i class="fa fa-dashboard"></i>Dashboard</a>
				</li>
				<li class="active">Users</li>
			</ol>
		</section>
        <!-- Main content -->
        <section class="content">                
			<div id="content">
				<div class="row">				
					<div class="col-md-12 column">				
						<div class="box box-primary">
							<div class="box-header">
								<h3 class="box-title">User details</h3> 
							</div>							
							<div class="box-body">
								<table id="example1" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Username</th>
											<th>Email</th>
											<th>ETH address</th>
											<th>Referral by</th>
											<th>Details</th>
											<th>Google two factor</th>
											<th>Login Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>	
										<% 
											if(users_record)
											{
												for(var i=0; i < users_record.length; i++)
												{ 
													%>
														<tr>
															<td><%= users_record[i].username %></td>
															<td><%= users_record[i].email %></td>
															<td><%= users_record[i].eth_address %></td>
															<td>
																<% users_list.forEach(function(user){ 
																	if(users_record[i].user_referenced_code != '')
																	{
																		if(user.user_referral_code == users_record[i].user_referenced_code)
																		{
																			%>
																				<%= user.username %>
																			<%																		
																		}
																	}
																%>
																<% })%>
															</td>
															<td>
																<a href="./userDetails?e=<%= users_record[i].id %>">details</a>
															</td>
															<td>
																<%
																	if(users_record[i].sign_in > 0)
																	{
																		%>
																			On
																		<%
																	}
																	else
																	{
																		%>
																			Off
																		<%
																	}
																%>																
															</td>
															<td>
																<a href="#" id="active_<%= users_record[i].id %>" <% if(users_record[i].active != 1){%> style='display:none;' <%} %> class="btn-group" onclick="return setStatus(<%= users_record[i].id %>,'setStatus','0')">
																	<button class="btn btn-sm btn-success">ON</button>
																	<button class="btn btn-sm btn-default">OFF</button>
																</a>
																<a href="#" id="inactive_<%= users_record[i].id %>" <% if(users_record[i].active != 0){%> style='display:none;' <%} %> class="btn-group" onclick="return setStatus(<%= users_record[i].id %>,'setStatus','1')">
																	<button class="btn btn-sm btn-default">ON</button>
																	<button class="btn btn-sm btn-success">OFF</button>
																</a>
															</td>
															<td>			
																<a class="confirm" onclick="return delete_detail('removeDetail?e=<%= users_record[i].id %>');" href="javascript:void(0);" title="Remove">
																	<i class="fa fa-trash-o fa-2x text-danger"></i>
																</a>	
															</td>
														</tr>
													<% 
												}
											}
											else
											{
												%>
													<tr>
														<td colspan="10">No Records Found</td>
													</tr>	
												<%
											}
										%>
									</tbody>
								</table>
							</div><!-- /.box-body -->
							<!-- /.box -->
						</div>
					</div>
				</div>
			</div>
		</section>
      </div><!-- /.content-wrapper -->
      <% include partials/footer %> 
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <% include partials/script %> 	
  </body>
</html>
