<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %> 
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
		<% include partials/header %>         
      </header>
      <!-- Left side column. contains the logo and sidebar -->
	  <% include partials/sidebar %>       
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Users
				<small>Control panel</small>
			</h1>
			<ol class="breadcrumb">
				<li>
					<a href="/admin"><i class="fa fa-dashboard"></i>Dashboard</a>
				</li>
				<li class="active">Users</li>
			</ol>
		</section>
        <!-- Main content -->
        <section class="content">                
			<div id="content">
				<div class="row">				
					<div class="col-md-12 column">				
						<div class="box box-primary">
							<div class="box-header">
								<h3 class="box-title">User details</h3> 
							</div>							
							<div class="box-body">
								<div class="nav-tabs-custom">
									<ul class="nav nav-tabs">
										<li id="Details" class="active">
											<a href="#tab_1" data-toggle="tab">
												<strong>Details</strong>
											</a>
										</li>
										<li id="Referral" >
											<a href="#tab_2" data-toggle="tab">
												<strong>Referral</strong>
											</a>
										</li>
									</ul>
									<div class="tab-content">
										<!-- Details tab -->
										<div class="tab-pane active" id="tab_1">
											<div class="box-body">
												<div class="row">
													<div class="form-group col-md-6">
														<div class="input text">
															<label>Username</label>
															<input name="username" readonly class="form-control number-only"  type="text" id="username" value="<%= user_result[0].username %>">												
														</div>
													</div>
													<div class="form-group col-md-6">
														<div class="input text">
															<label>Email</label>
															<input name="email" readonly class="form-control number-only" type="text" id="email" value="<%= user_result[0].email %>">												
														</div>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-md-6">
														<div class="input text">
															<label>Reference by</label>
															<input name="refence_by" readonly class="form-control"  type="text" id="refence_by" value="<%= refence_by %>">												
														</div>
													</div>
													<div class="form-group col-md-6">
														<div class="input text">
															<label>ETH address</label>
															<input name="eth_address" readonly class="form-control number-only" type="text" id="eth_address" value="<%= user_result[0].eth_address %>">												
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--//-->
										<!-- Details tab -->
										<div class="tab-pane" id="tab_2">
											<div class="box-body">
												<table id="example1" class="table table-bordered table-striped">
													<thead>
														<tr>
															<th>Username</th>
															<th>Coin</th>
															<th>Bonus</th>
															<th>Paid bonus</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>	
														<% 
															if(referral_list)
															{
																for(var i=0; i < referral_list.length; i++)
																{ 
																	%>
																		<tr>
																			<td><%= referral_list[i].username %></td>
																			<td>
																				<script>
																					var eth_add = '<%= referral_list[i].eth_address %>';
																					if(eth_add)
																					{
																						$.ajax({
																							url: 'https://api.etherscan.io/api?module=account&action=tokenbalance&contractaddress=0x5dE805154A24Cb824Ea70F9025527f35FaCD73a1&address=<%= referral_list[i].eth_address %>&tag=latest&apikey=XT1TNTQ6NWDKJDVB76FIGWQU2VAJHEKTYV',
																							type: 'POST',
																							dataType: 'json',
																							cache: false,
																							success: function(responce){ 
																								var user_balance = responce.result;
																								var ref_bonus = (user_balance * 5/100).toFixed(2);
																								$("#coin_<%= referral_list[i].id %>").text(user_balance);
																								$("#code_<%= referral_list[i].id %>").text(ref_bonus);
																							}
																						});
																					}
																				</script>
																				<span id="coin_<%= referral_list[i].id %>">0.00</span>																				
																			</td>																																																								
																			<td>
																				<span id="code_<%= referral_list[i].id %>">0.00</span>																				
																			</td>																																								
																			<td>
																				<% bonus_result.forEach(function(user){ 
																					if(user.referal_user_id == referral_list[i].id)
																					{
																						%>
																							<span id="old_bonus_<%= referral_list[i].id %>">
																								<%= user.user_bonus %>
																							</span>
																						<%																		
																					}
																				%>
																				<% }) %>																																									
																			</td>
																			<td>
																				<span class="btn btn-info" data-toggle="modal" data-target="#payNow" onclick="getValue_bonus(<%= referral_list[i].id %>,'<%= referral_list[i].email %>');">Pay now</span>	
																			</td>
																		</tr>
																	<% 
																}
															}
															else
															{
																%>
																	<tr>
																		<td colspan="10">No Records Found</td>
																	</tr>	
																<%
															}
														%>
													</tbody>
												</table>
											</div>
										</div>
										<!--//-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Modal -->
		<div class="modal fade" id="payNow" role="dialog">
			<div class="modal-dialog">			
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Pay now</h4>
					</div>
					<div class="modal-body">
						<div class="box-body">
							<span class="text-danger hidden required"> * Fill all are required fields</span>
							<div class="row">
								<div class="form-group col-md-6">
									<div class="input text">
										<label>Amount<span class="text-danger">*</span></label>
										<input name="user_bonus" class="form-control number-only" value="0.00" type="text" id="user_bonus">												
										<input name="referal_user_id" class="form-control number-only" type="hidden" id="referal_user_id">												
										<input name="referal_user_email" class="form-control number-only" type="hidden" id="referal_user_email">												
										<input name="user_id" class="form-control number-only" value="<%= user_result[0].id %>" type="hidden" id="user_id">												
									</div>
								</div>
								<div class="form-group col-md-6">
									<div class="input text">
										<label>Transaction ID<span class="text-danger">*</span></label>
										<input name="transaction_id" class="form-control" type="text" id="transaction_id">										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" onClick="payNow_bonus();" class="btn btn-success">PayNow</button>
					</div>
				</div>			  
			</div>
		</div>
      </div><!-- /.content-wrapper -->
      <% include partials/footer %> 
	  <script>
		function getValue_bonus(referal_user_id, referal_user_email)
		{
			$("#referal_user_id").val(referal_user_id);
			$("#referal_user_email").val(referal_user_email);
			var old_bonus = $.trim($("#old_bonus_"+referal_user_id).text());
			if(old_bonus)
			{
				$("#user_bonus").val(old_bonus);				
			}
		}
		
		function payNow_bonus()
		{
			var user_id = $("#user_id").val();
			var user_bonus = $("#user_bonus").val();
			var referal_user_id = $("#referal_user_id").val();
			var referal_user_email = $("#referal_user_email").val();
			var transaction_id = $("#transaction_id").val();
			if(user_id == '' || user_bonus == '' || referal_user_id == '' || transaction_id == '')
			{
				$('.required').removeClass('hidden');
				return false;
			}
			else
			{				
				$('.required').addClass('hidden');
				var dataString = 'user_id='+user_id+'&user_bonus='+user_bonus+'&referal_user_id='+referal_user_id+'&transaction_id='+transaction_id+'&referal_user_email='+referal_user_email;
				$.ajax({
					url: './payNow_bonus',
					type: 'post',
					data: dataString,
					success: function(result){
						$('#payNow').modal('toggle');
						location.reload();
					}
				});
			}
		}
	  </script>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <% include partials/script %> 	
  </body>
</html>
